* {
    color: #f2f2f2;
    /*font-family: Optima;*/
}

.post {
    background: -webkit-linear-gradient(#222222, #666666);
    background: -o-linear-gradient(#222222, #666666);
    background: linear-gradient(#222222, #666666);
    box-shadow: 10px 10px 5px #888;
    margin:20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: Optima;
}

img {
    width: 100%;
}

.content {
  height: 85%;
  margin-left: 10px;
}

.title {
  font-size: 1.3em;
}

.author {
  text-align: right;
  margin: 0px;
}

.description {
  height: 35%;
}

.footer {
  height: 20%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.clickable {
  cursor: pointer;
}

.green {
  color: green;
}

.red {
  color: red;
}